.header {
    background-color: #535bf2;
    color: white;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .title {
        display: none;
    }
}
