.inputField {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 400px;
    height: 35px;
    box-sizing: border-box;
    font-family: "sans-serif";
    font-size: 18px;
}


.inputField:focus {
    outline: none;
    border-color: #007bff;
}

.label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    font-weight: bold;
}

@media (max-width: 768px) {
    .inputField {
        height: 40px;
        width: 250px;
        padding: 5px;
        margin-right: 25px;
        border: 0.5px solid #ccc;
        border-radius: 2px;
        box-sizing: border-box;
    }
}