.filters{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #eee;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}
